.outer-frame {
    background-color: rgb(73, 7, 226);
    width: 100vw;
    height: 100vh;
    position: relative;
}
.inner-frame {
    width: 55vw;
    height: cover;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}
.inner-ttl {
    font-size: 50px;
}
.todo-list_content {
    display: flex;
    justify-content: space-between;
}
.input-main-txt {
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(230, 226, 238);
    outline: none;
    font-size: 20px;
}
.input-btn {
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 3px;
    border: 1px solid rgb(219, 54, 197);
    color: rgb(219, 54, 197);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
}
table {
    text-align: center;
    width: 100%;
}
tr {
    height: 100px;
}
th {
    font-size: 22px;
}
td {
    font-size: 20px;
}

.input-update-txt {
    width: 90%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(230, 226, 238);
    outline: none;
    font-size: 20px;
}
.update-btn {
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 3px;
    border: 1px solid rgb(224, 98, 60);
    color: rgb(224, 98, 60);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
}
.delete-btn {
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 3px;
    border: 1px solid rgb(83, 235, 209);
    color: rgb(83, 235, 209);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
}
.table-date {
    width: 30%;
}
